div.adservice-banners-full {
    width: 100%;
    /* padding: 10px 0; */
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--color-neutral-000);
    text-align: center;
    position: relative;
    margin-top: calc(6 * var(--spacing-base));
    margin-right: calc(0 * var(--spacing-base));
    margin-left: calc(0 * var(--spacing-base));
}
div.adservice-banners-full > div.adservice-banners-full-carousel {
    width: 90%;
    height: 160px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    /* padding: 20px 20px 20px 0; */
    border-radius: var(--large-radius);
}
div.adservice-banners-full > div.adservice-banners-full-carousel > a {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-top: 0px;
}
div.adservice-banners-full > div.adservice-banners-full-carousel > a > div {
    border-radius: 16px;
}
div.adservice-banners-full > div.adservice-banners-full-carousel > a > div > picture {}
div.adservice-banners-full > div.adservice-banners-full-carousel > a > div > picture > img {
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
}
