div.amazing {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--color-neutral-000);
    text-align: center;
    position: relative;
    margin-top: calc(6 * var(--spacing-base));
}
div.amazing > div.amazing-carousel {
    width: 90%;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to top,var(--color-primary-500),var(--color-primary-700));
    margin: 0 auto;
    padding: 20px 20px 20px 0;
    border-radius: var(--large-radius);
}
div.amazing > div.amazing-carousel .swiper {
    width: 100%;
    height: 100%;
}
div.amazing > div.amazing-carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.amazing > div.amazing-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.amazing > div.amazing-carousel .swiper-slide {
    width: 182px;
    min-width: 182px;
    max-width: 182px;
    position: relative;
    padding-right: calc(0 * var(--spacing-base));
    padding-left: calc(1 * var(--spacing-base));
    margin-left: calc(0 * var(--spacing-base));
    cursor: pointer;
    background-color: var(--color-neutral-000);
}

div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(2) {
    border-top-right-radius: var(--medium-radius);
    border-bottom-right-radius: var(--medium-radius);
}
div.amazing > div.amazing-carousel a {
    display: block;
    text-decoration: none;
}
div.amazing > div.amazing-carousel a > div.imageWow {
    text-align: center;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    position: relative;
}
div.amazing > div.amazing-carousel a > div.imageWow > picture {}
div.amazing > div.amazing-carousel a > div.imageWow > picture > img {
    width: 150px;
    height: 150px;
    display: inline-block;
}
.change-amazing-offer {
    flex-flow: column wrap;
}
div.amazing > div.amazing-carousel div.price {
    width: 100%;
}

div.amazing > div.amazing-carousel div.price > div.left,div.amazing > div.amazing-carousel div.price > div.right {
    display: inline-block;
}

div.amazing > div.amazing-carousel div.price > div.left {
    font-size: 16px;
    font-weight: 700;
    line-height: 2.15;
    font-family: var(--font-family);
    text-align: left;
    width: 57%;
    color: var(--color-neutral-700);
}
div.amazing > div.amazing-carousel div.price > div.left > span {}
div.amazing > div.amazing-carousel div.price > div.left > span > svg {
    width: 16px;
    height: 16px;
    fill: var(--color-icon-high-emphasis);
    vertical-align: middle;
}
div.amazing > div.amazing-carousel div.price > div.right {
    font-size: 12px;
    font-family: var(--font-family);
    text-align: right;
    font-weight: bold;
    width: 39%;
}
div.amazing > div.amazing-carousel div.price > div.right > span {
    padding-right: calc(1 * var(--spacing-base));
    padding-left: calc(1 * var(--spacing-base));
    border-radius: var(--large-radius);
    color: var(--color-white);
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--color-primary-700);
    display: block;
    height: 20px;
    width: 34px;
    line-height: 20px;
    text-align: center;
}

div.amazing > div.amazing-carousel div.delete-amazing-offer {
    width: 100%;
    text-align: left;
    padding-left: calc(6 * var(--spacing-base));
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.17;
    text-decoration: line-through;
    color: var(--color-neutral-300);
    margin-top: -6px;
}
div.amazing > div.amazing-carousel div.line-amazing-offer {
    border-radius: 9999px;
    height: 4px;
    background-color: var(--color-neutral-100);
    position: relative;
}
div.amazing > div.amazing-carousel div.line-amazing-offer > div {
    width: 42%;
    height: inherit;
    border-radius: 9999px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-primary-700);
    cursor: pointer;
}
div.amazing > div.amazing-carousel div.mobile-amazing-offer {
    position: absolute;
    font-size: 11px;
    font-weight: 700;
    line-height: 2.17;
    cursor: pointer;
    top: 10px;
    right: 20px;
    z-index: 1;
}
div.amazing > div.amazing-carousel div.mobile-amazing-offer > span {}
div.amazing > div.amazing-carousel div.mobile-amazing-offer > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-primary);
    vertical-align: middle;
}

div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1){
    border-radius: 0 10px 10px 0;
    background-color: transparent;
}

div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1) div.imageWow-box-images {
    width: 45%;
    height: 40%;
    margin: 0 auto;
    margin-top: 3px;
}

div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1) div.imageWow-box-boxing {
    width: 75%;
    margin: 0 auto;
}
div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1) div.imageWow-box-boxing > picture {}
div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1) div.imageWow-box-boxing > picture > img {
    display: block;
    object-fit: cover;
}

div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1) div.amazing-offer-more {
    font-size: 14px;
    font-weight: 700;
    line-height: 2.15;
    color: var(--color-white);
    margin-top: calc(1 * var(--spacing-base));
}
div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1) div.amazing-offer-more > span {}
div.amazing > div.amazing-carousel .swiper-slide:nth-of-type(1) div.amazing-offer-more > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-white);
    vertical-align: middle;
}