div.best-selling-products {
    width: 100%;
    /* padding: 10px 0; */
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--color-neutral-000);
    text-align: center;
    position: relative;
    margin-top: calc(6 * var(--spacing-base));
}
div.best-selling-products > div.best-selling-products-carousel {
    width: 90%;
    height: 420px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    /* padding: 20px 20px 20px 0; */
    border-radius: var(--large-radius);
    border: 1px solid var(--color-neutral-200);
}
div.best-selling-products > div.best-selling-products-carousel > div.capation {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 25px;
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.title-best-selling-products {
    width: 80%;
    height: 44px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.title-best-selling-products > div {
    line-height: 44px;
    text-align: center;
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.title-best-selling-products > div > span {
    display: inline-block;
    vertical-align: top;
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.title-best-selling-products > div > span > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-icon-warning);
    vertical-align: middle;
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.title-best-selling-products > div > p {
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
    line-height: 2.1;
    vertical-align: top;
    color: var(--color-neutral-900);
    margin-left: calc(2 * var(--spacing-base));
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.more-best-selling-products {
    width: 20%;
    height: 44px;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.more-best-selling-products > a {
    display: block;
    text-decoration: none;
    border-radius: var(--global-radius);
    text-align: left;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    color: var(--color-button-secondary);
}
div.best-selling-products > div.best-selling-products-carousel > div.capation > div.more-best-selling-products > a > span {}

div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products {
    width: 100%;
    height: calc(430px - 69.5px);
    margin-top: 20px;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc(100% / 3) !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-swiper-best-selling-products [class^="swiper-button-"]::after {
    content: "" !important;
  }
  div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products div.swiper-button-next {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 0.5px solid #525252;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products div.swiper-button-prev {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 0.5px solid #2b2b2b;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products div.swiper-button-next > i {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 14px;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products div.swiper-button-prev > i {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 14px;
    transform: rotate(180deg);
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products  div.swiper-slide  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products div.swiper-slide  a > picture {}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products div.swiper-slide  a > picture > img {
    width: 86px;
    height: 86px;
    float: right;
    position: relative;
    top: calc(50% - 86px / 2);
    padding-right: 10px;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products   a > p:nth-of-type(1) {
    font-family: var(--font-family);
    font-size: 26px;
    font-weight: bold;
    color: var(--color-secondary-500);
    float: right;
    line-height: 106.83px;
    margin-right: 14px;
}
div.best-selling-products > div.best-selling-products-carousel > div.slider-best-selling-products  a > p:nth-of-type(2) {
    font-family: var(--font-family);
    font-size: 12px;
    float: left;
    color: var(--color-neutral-700);
    width: 180px;
    text-align: right;
    line-height: 24px;
    position: relative;
    top: calc(50% - 48px / 2);
    border-bottom: 1px solid rgb(239, 236, 236);
    padding-bottom: 32px;
  }
  .adjustment {
    position: relative;
    top: calc(50% - 24px / 2) !important;
    padding-bottom: 44px !important;
  }
  .border-edit {
    border-bottom: unset !important;
  }
  /* offers end */
  