div.digikala-offer {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--color-neutral-000);
    text-align: center;
    position: relative;
    margin-top: calc(6 * var(--spacing-base));
}
div.digikala-offer > div.digikala-offer-carousel {
    width: 90%;
    height: 440px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px 20px 0;
    border-radius: var(--large-radius);
}
div.digikala-offer > div.digikala-offer-carousel > div.digikala-offer-boxing {}
