


div.dj-plus {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--color-neutral-000);
    text-align: center;
    position: relative;
    margin-top: calc(6 * var(--spacing-base));
}
div.dj-plus > div.dj-plus-carousel {
    width: 100%;
    height: 390px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to top,var(--color-primary-500),var(--color-primary-700));
    margin: 0 auto;
    padding: 20px 20px 20px 0;
    border-radius: var(--large-radius);
}
div.dj-plus > div.dj-plus-carousel > div.delivery {
    width: 90%;
    height: 390px;
    padding: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: -24px;
    background-color: var(--color-plus-700);
    border-radius: var(--large-radius);
    padding: calc(4 * var(--spacing-base));
}
div.dj-plus > div.dj-plus-carousel > div.delivery > div.right {
    width: 28%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    background-image: url(../images/digi-plus/plus-widget.png);
    object-fit: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 372px 279px;
    max-width: 416px;
    vertical-align: top;
    padding-top: calc(6 * var(--spacing-base));
    margin-left: calc(3 * var(--spacing-base));
    margin-bottom: calc(0 * var(--spacing-base));
}
div.dj-plus > div.dj-plus-carousel > div.delivery > div.right > div {
    width: 100%;
    height: 15%;
    padding-right: 24px;
    box-sizing: border-box;
}
div.dj-plus > div.dj-plus-carousel > div.delivery > div.right > div > a {
    display: block;
    text-align: right;
}
div.dj-plus > div.dj-plus-carousel > div.delivery > div.right > div > a > img {
    object-fit: cover;
    width: 128px;
    height: 32px;
}
div.delivery > div.right > div > div {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-neutral-000);
    line-height: 30px;
    margin-bottom: 12px;
    text-align: right;
    margin-top: calc(1 * var(--spacing-base));
}
div.delivery > div.right > div > a.second {
    font-family: var(--font-family);
    display: block;
    width: 150px;
    font-size: 13px;
    color: var(--color-neutral-000);
    line-height: 30px;
    text-align: center;
    border: 1px solid var(--color-neutral-100);
    border-radius: var(--medium-radius);
    text-decoration: none;
    padding-right: calc(4 * var(--spacing-base));
    padding-left: calc(4 * var(--spacing-base));
    padding-top: calc(1 * var(--spacing-base));
    padding-bottom: calc(1 * var(--spacing-base));
    margin-top: calc(3 * var(--spacing-base));
}

div.delivery > div.right > div > a.second > span {}
div.delivery > div.right > div > a.second > span > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-icon-white);
    vertical-align: middle;
    margin-right: calc(2 * var(--spacing-base));
}






div.dj-plus > div.dj-plus-carousel > div.delivery > div.left {
    width: 70%;
    height: 100%;
    background-color: var(--color-neutral-000);
    border-radius: 16px;
    padding: 0 16px;
    box-sizing: border-box;
    display: inline-block;
}
div.delivery > div.left > div.top {
    width: 100%;
    height: 15%;
    padding: 16px 0;
    box-sizing: border-box;
    position: relative;
}
div.delivery > div.left > div.top > div {
    display: inline-block;
    vertical-align: top;
    width: 89%;
    text-align: right;
}
div.delivery > div.left > div.top > div > div {
    display: inline-block;
    margin-left: 5px;
}
div.delivery > div.left > div.top > div > div > span {}
div.delivery > div.left > div.top > div > div > span > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-plus-500);
    vertical-align: middle;
}
div.delivery > div.left > div.top > div > h4 {
    display: inline-block;
    font-family: var(--font-family);
    vertical-align: top;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.15;
    color: var(--color-neutral-900);
    margin-right: calc(2 * var(--spacing-base));
    vertical-align: middle;
}
div.delivery > div.left > div.top > a {
    font-family: var(--font-family);
    font-size: 12px;
    color: var(--color-plus-500);
    text-decoration: none;
    font-weight: 700;
}
div.delivery > div.left > div.top > a > span {}
div.delivery > div.left > div.top > a > span > svg {
    width: 20px;
    height: 20px;
    fill: var(--color-plus-500);
    vertical-align: middle;
}

div.delivery > div.left > div.bottom {
    width: 100%;
    height: 85%;
}
div.delivery > div.left > div.bottom  > div.first-row {
    width: 100%;
    height: 50%;
}
div.delivery > div.left > div.bottom  > div.first-row > div {
    width: 116px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 15px auto;
    margin-right: 20px;
}
div.delivery > div.left > div.bottom  > div.first-row > div > a {
    display: block;
}
div.delivery > div.left > div.bottom  > div.first-row > div > a > div {
    border-radius: var(--medium-radius);
    max-width: 116px;
    max-height: 116px;
}
div.delivery > div.left > div.bottom  > div.first-row > div > a > div > img {
    object-fit: cover;
    width: 116px;
    height: 120px;
}
div.delivery > div.left > div.bottom  > div.second-row {
    width: 100%;
    height: 50%;
}



div.delivery > div.left > div.bottom  > div.second-row > div {
    width: 116px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 15px auto;
    margin-right: 20px;
}



div.delivery > div.left > div.bottom  > div.second-row > div > a {
    display: block;
}
div.delivery > div.left > div.bottom  > div.second-row > div > a > div {
    border-radius: var(--medium-radius);
    max-width: 116px;
    max-height: 116px;
}
div.delivery > div.left > div.bottom  > div.second-row > div > a > div > img {
    object-fit: cover;
    width: 116px;
    height: 120px;
}