@font-face {
    font-family: 'IRANSansWebFaNum-Medium';
    src: url('../fonts/fa/IRANSansWebFaNum-Medium/IRANSansWebFaNum-Medium.eot');
    src: url('../fonts/fa/IRANSansWebFaNum-Medium/IRANSansWebFaNum-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fa/IRANSansWebFaNum-Medium/IRANSansWebFaNum-Medium.woff2') format('woff2'),
        url('../fonts/fa/IRANSansWebFaNum-Medium/IRANSansWebFaNum-Medium.woff') format('woff'),
        url('../fonts/fa/IRANSansWebFaNum-Medium/IRANSansWebFaNum-Medium.ttf') format('truetype'),
        url('../fonts/fa/IRANSansWebFaNum-Medium/IRANSansWebFaNum-Medium.svg#IRANSansWebFaNum-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

