div.four-banners {
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: crimson;
}
div.four-banners > div.four-banners-items {
    width: 350px;
    height: 350px;
    text-align: center;
    margin-left: 43px;
    display: inline-block;
    background-color: yellowgreen;
}
div.four-banners > div.four-banners-items > a {
    text-decoration: none;
    display: inline-block;
}
div.four-banners > div.four-banners-items > a > img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
}