/* initialize header */
header {
    width: 100%;
    height: 168px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
    box-shadow: 0 1px 0 rgba(0,0,0,.14), 0 2px 0 rgba(0,0,0,.05);
    position: fixed;
    padding-right: 0px;
    z-index: 4;
    left: 0;
    top: 0;
}
/* initialize header top */
header > div.header-top {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
}
header > div.header-top > a {
    display: block;
    text-decoration: none;
}
header > div.header-top > a > div {
    height: 60px;
}
header > div.header-top > a > div > picture {}
header > div.header-top > a > div > picture > img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
/* end header top */


/* initialize header middle */
header > div.header-middle {
    width: 100%;
    height: 68px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
}
/* initialize logo box */
header > div.header-middle > div.logo-box {
    width: 10%;
    height: 68px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}
header > div.header-middle > div.logo-box > div.logo {
    width: 100%;
    height: 34px;
    margin-top: 17px;
    margin-bottom: 17px;
    box-sizing: border-box;
    line-height: 34px;
}
header > div.header-middle > div.logo-box > div.logo > a {
    display: block;
    text-decoration: none;
    line-height: 34px;
}
header > div.header-middle > div.logo-box > div.logo > a > div {
    padding-top: 5px;
}
header > div.header-middle > div.logo-box > div.logo > a > div > img {
    height: 34px;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
/* end logo box */
/* end header middle */


/* end header */