/* initialize header */
header {
    width: 100%;
    height: 168px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
    box-shadow: 0 1px 0 rgba(0,0,0,.14), 0 2px 0 rgba(0,0,0,.05);
    position: fixed;
    padding-right: 0px;
    z-index: 4;
    left: 0;
    top: 0;
}
/* initialize header top */
header > div.header-top {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
}
header > div.header-top > a {
    display: block;
    text-decoration: none;
}
header > div.header-top > a > div {
    height: 60px;
}
header > div.header-top > a > div > picture {}
header > div.header-top > a > div > picture > img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
/* end header top */


/* initialize header middle */
header > div.header-middle {
    width: 100%;
    height: 68px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
}
/* initialize logo box */
header > div.header-middle > div.logo-box {
    width: 10%;
    height: 68px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}
header > div.header-middle > div.logo-box > div.logo {
    width: 100%;
    height: 34px;
    margin-top: 17px;
    margin-bottom: 17px;
    box-sizing: border-box;
    line-height: 34px;
}
header > div.header-middle > div.logo-box > div.logo > a {
    display: block;
    text-decoration: none;
    line-height: 34px;
}
header > div.header-middle > div.logo-box > div.logo > a > div {
    padding-top: 5px;
}
header > div.header-middle > div.logo-box > div.logo > a > div > img {
    height: 34px;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
/* end logo box */
/* initialize search box */
header > div.header-middle > div.search-box {
    width:70%;
    height: inherit;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}
header > div.header-middle > div.search-box > div.search {
    /* width: 100%; */
    height: 34px;
    margin-top: 12px;
    margin-bottom: 17px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 34px;
    position: relative;
}
header > div.header-middle > div.search-box > div.search > input[type= "search"] {
    width: 600px;
    height: 44px;
    /* margin-top: 15px; */
    background-color: var(--color-neutral-100);
    border-radius: 10px;
    padding-right: 15px;
    font-family: var(--font-family);
    transition: 300ms;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.17;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: var(--global-radius);
    padding-right: calc(6 * var(--spacing-base));
    padding-left: calc(6 * var(--spacing-base));
}
header > div.header-middle > div.search-box > div.search > input[type= "search"]:focus{
    outline: unset;
}
header > div.header-middle > div.search-box > div.search > input[type= "search"]::placeholder{
    font-size: 12px;
    padding-right: calc(6 * var(--spacing-base));
    padding-left: calc(6 * var(--spacing-base));
}
header > div.header-middle > div.search-box > div.search > input[type= "search"]:focus::placeholder{
    color: whitesmoke;
}
header > div.header-middle > div.search-box > div.magnifier {
    position: absolute;
    top: 33%;
    right: 2%;
}
header > div.header-middle > div.search-box > div.magnifier > span {}
header > div.header-middle > div.search-box > div.magnifier > span > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end search box */


/* initialize login cart box */
header > div.header-middle > div.login-cart-box {
    width: 20%;
    height: inherit;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
}
/* initialize login box */
header > div.header-middle > div.login-cart-box > div.login-box {
    width: 60%;
    height: 68px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
}
header > div.header-middle > div.login-cart-box > div.login-box > a {
    display: block;
    width: 150px;
    height: 45px;
    background-color: #fff;
    margin: 15px auto;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 11px;
    color: #3F4064;
    font-weight: 700;
    word-spacing: 5px;
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--global-radius);
}
header > div.header-middle > div.login-cart-box > div.login-box > a > div {
    margin-left: calc(2 * var(--spacing-base));
}
header > div.header-middle > div.login-cart-box > div.login-box > a > div > span {}
header > div.header-middle > div.login-cart-box > div.login-box > a > div > span > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-icon-high-emphasis);
    vertical-align: middle;
}
/* end login box */

/* initialize line box */
header > div.header-middle > div.login-cart-box > div.line-box {
    width: 10%;
    height: 68px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
}
header > div.header-middle > div.login-cart-box > div.line-box > div.line {
    margin-right: calc(3 * var(--spacing-base));
    margin-left: calc(3 * var(--spacing-base));
    background-color: var(--color-neutral-200);
    width: 1px;
    height: 24px;
    margin-top: 20px;
}
/* end line box */

/* initialize cart-box */
header > div.header-middle > div.login-cart-box > div.cart-box {
    width: 31%;
    height: 68px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
}
header > div.header-middle > div.login-cart-box > div.cart-box > div.cart {
    width: 100%;
    height: 34px;
    margin-top: 17px;
    margin-bottom: 17px;
    box-sizing: border-box;
    line-height: 34px;
    position: relative;
}
header > div.header-middle > div.login-cart-box > div.cart-box > div.cart > a {
    display: block;
    text-decoration: none;
}
header > div.header-middle > div.login-cart-box > div.cart-box > div.cart > a > div {
    margin-right: 18px;
}
header > div.header-middle > div.login-cart-box > div.cart-box > div.cart > a > div > span {}
header > div.header-middle > div.login-cart-box > div.cart-box > div.cart > a > div > span > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-icon-high-emphasis);
    vertical-align: middle;
}
/* end cart-box */

/* end login cart box */


/* end header middle */



/* initialize header bottom */
header > div.header-bottom {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
}
header > div.header-bottom > nav {
    height: 40px;
}
header > div.header-bottom > nav > div.category {
    width: 80%;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
header > div.header-bottom > nav > div.category > div.items {
    /* width: 140px; */
    /* height: 40px; */
    box-sizing: border-box;
    display: inline-block;
}
/* initialize item 01 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(1) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(1) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 14px;
    transition: 300ms;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-neutral-700);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(1) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(1) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(1) > a > div > span > svg {
    width: 20px;
    height: 20px;
    fill: var(--color-icon-high-emphasis);
    vertical-align: middle;
}
/* end item 01 */




/* initialize item 02 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(2) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(2) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-neutral-400);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(2) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(2) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(2) > a > div > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end item 02 */




/* initialize item 03 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(3) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(3) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-neutral-400);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(3) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(3) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(3) > a > div > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end item 03 */




/* initialize item 04 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(4) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(4) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-neutral-400);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(4) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(4) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(4) > a > div > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end item 04 */



/* initialize item 05 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(5) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(5) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-neutral-400);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(5) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(5) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(5) > a > div > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end item 05 */




/* initialize item 06 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(6) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(6) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-neutral-400);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(6) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(6) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(6) > a > div > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end item 06 */




/* initialize item 07 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(7) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(7) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-neutral-400);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(7) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(7) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(7) > a > div > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end item 07 */

/* initialize item 08 */
header > div.header-bottom > nav > div.category > div.items:nth-of-type(8) {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(8) > a {
    display: block;
    width: auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-neutral-400);
}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(8) > a > div {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(8) > a > div > span {}
header > div.header-bottom > nav > div.category > div.items:nth-of-type(8) > a > div > span > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-icon-low-emphasis);
    vertical-align: middle;
}
/* end item 08 */

header > div.header-bottom > nav > div.city {
    width: 20%;
    height: 40px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
    background-color: blue;
}
/* end header bottom */





/* end header */