@import url("../css/settings.css");
@import url("../css/font-face-IRANYekan.css");
@import url("../css/header.css");
@import url("../css/story.css");
@import url("../css/slider.css");
@import url("../css/offer.css");
@import url("../css/amazing.css");
@import url("../css/amazing-market.css");
@import url("../css/four-banners.css");
@import url("../css/category-digikala.css");
@import url("../css/two-banners-under-category-digikala.css");
@import url("../css/digikala-offer.css");
@import url("../css/most-popular-brands.css");
@import url("../css/under-favarite-two-banners.css");
@import url("../css/visit-according.css");
@import url("../css/dj-plus.css");
@import url("../css/dj-club.css");
@import url("../css/based-visits.css");
@import url("../css/best-selling-products.css");