div.most-popular-brands {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--color-neutral-000);
    text-align: center;
    position: relative;
    margin-top: calc(6 * var(--spacing-base));
    border-radius: var(--large-radius);
    padding-top: calc(6 * var(--spacing-base));
    padding-bottom: calc(6 * var(--spacing-base));
}
div.most-popular-brands > div.most-popular-brands-carousel {
    width: 90%;
    height: 225px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid var(--color-neutral-200);
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-boxing {
    border-radius: var(--large-radius);
    padding-top: calc(6 * var(--spacing-base));
    padding-bottom: calc(6 * var(--spacing-base));
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-boxing > div.popular-brands-boxing-heading {
    width: 100%;
    height: 45px;
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-boxing > div.popular-brands-boxing-heading > div.logo-popular-brands {
    font-size: 21px;
    font-weight: 500;
    line-height: 2.1;
    color: var(--color-neutral-900);
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-boxing > div.popular-brands-boxing-heading > div.logo-popular-brands > span {
    margin-left: calc(2 * var(--spacing-base));
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-boxing > div.popular-brands-boxing-heading > div.logo-popular-brands > span > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-icon-rating-0-2);
    vertical-align: middle;
}

div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider {
    width: 100%;
    height: 118px;
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper {
    width: 100%;
    height: 100%;
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper {
    margin-left: auto;
    margin-right: auto;
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper-slide {
    width: 110px !important;
    height: 110px !important;
    border-right: 1px solid var(--color-neutral-100);
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper-slide a {
    display: block;
    text-decoration: none;
}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper-slide a > div {}
div.most-popular-brands > div.most-popular-brands-carousel > div.popular-brands-slider .swiper-slide a > div > img {
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s;
    display: inline-block;
    overflow: hidden;
    position: relative;
}