* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
html { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body::-webkit-scrollbar {
    width:10px;
}
body::-webkit-scrollbar-track {
    background:#F1F2F4;
    border-radius:10px;
}
body::-webkit-scrollbar-thumb {
    background:#C3C3CE;
    border-radius:10px;
}

:root {
    --direction: rtl;
    --font-family: "IRANSansWebFaNum-Medium",sans-serif;;
    --color-neutral-000: #fff;
    --spacing-base: 4px;
    --global-radius: 8px;
    --color-neutral-100: #f1f2f4;
    --color-icon-low-emphasis: #9e9fb1;
    --color-icon-high-emphasis: #3f4064;
    --global-radius: 8px;
    --color-neutral-200: #e0e0e6;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    line-height: 24px;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    overflow: auto;
    background-color: var(--color-neutral-000);
    direction: var(--direction);
    font-synthesis: style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}