div.slider {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-color: var(--color-neutral-000);
    position: relative;
    margin-top: 30px;
}
div.slider > div.slider-carousel {
    width: 100%;
    height: 400px;
    background-color: var(--color-neutral-000);
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    background-color: crimson;
}
div.slider > div.slider-carousel .swiper {
    width: 100%;
    height: 100%;
}
div.slider > div.slider-carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.slider > div.slider-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.slider > div.slider-carousel .swiper {
    margin-left: auto;
    margin-right: auto;
}