div.under-favarite-two-banners {
    width: 100%;
    height: 300px;
    margin-top: calc(6 * var(--spacing-base));
    background-color: var(--color-neutral-000);
    margin-right: calc(0 * var(--spacing-base));
    margin-left: calc(0 * var(--spacing-base));
}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel {
    width: 90%;
    height: 260px;
    margin: 0 auto;
}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.first-cloumn {
    width: 50%;
    height: inherit;
    padding: 0 8px;
    display: inline-block;
    box-sizing: border-box;
}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.first-cloumn > a {
    text-decoration: none;
    border-radius: 16px;
}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.first-cloumn > a > picture {}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.first-cloumn > a > picture > img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}






div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.second-cloumn {
    width: 50%;
    height: inherit;
    padding: 0 8px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: -4px;
}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.second-cloumn > a {
    text-decoration: none;
    border-radius: 16px;
}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.second-cloumn > a > picture {}
div.under-favarite-two-banners > div.under-favarite-two-banners-carousel > div.second-cloumn > a > picture > img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}