div.visit-according {
    width: 100%;
    height: 420px;
    margin-top: calc(6 * var(--spacing-base));
    background-color: var(--color-neutral-000);
    margin-right: calc(0 * var(--spacing-base));
    margin-left: calc(0 * var(--spacing-base));
}
div.visit-according > div.visit-according-carousel {
    width: 90%;
    height: 420px;
    margin: 0 auto;
}
div.visit-according > div.visit-according-carousel > div.visit {
    width: 97%;
    height: 420px;
    margin: 0 auto;
    margin-top: 24px;
    border: 1px solid #e0e0e6;
    border-radius: 16px;
  
    padding: 5px;
    box-sizing: border-box;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col {
    width: 25%;
    height: 100%;
  
    margin-right: -4px;
    display: inline-block;
    padding: 8px 20px;
    box-sizing: border-box;
    vertical-align: top;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col:nth-of-type(1) {
    margin-right: 0px;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.cap {
    width: 100%;
    height: 20%;
  }
  
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.content:nth-last-of-type() {
    border-right: 0;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.seeAll {
    width: 100%;
    height: 100%;
    margin: 21px 0 12px 0;
    text-align: center;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.cap > h4 {
    font-family: var(--font-family);
    line-height: 2.15;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-neutral-800);
    margin-bottom: calc(2 * var(--spacing-base));
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.cap > p {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 2.17;
    color: var(--color-neutral-500);
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.content {
    width: 100%;
    height: 70%;
    border-left: 1px solid #f1f2f4;
  
    box-sizing: border-box;
  }
  div.visit-according > div.visit-according-carousel >  div.visit > div.col > div.content > div {
    width: 50%;
    height: 100%;
    display: inline-block;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.content > div:nth-of-type(2) {
    margin-right: -4px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  div.visit-according > div.visit-according-carousel >  div.visit > div.col > div.content > div:nth-of-type(1) {
    border-left: 1px solid #f1f2f4;
  }
  
  div.visit-according > div.visit-according-carousel >  div.visit > div.col > div.content > div > div:nth-of-type(1) {
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f2f4;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.content > div > div:nth-of-type(2) {
    padding-top: 10px;
  }
  div.visit-according > div.visit-according-carousel >  div.visit > div.col > div.content > div > div > a {
    text-decoration: none;
    padding: 8px;
    box-sizing: border-box;
  }
  
  div.visit-according > div.visit-according-carousel >  div.visit > div.col > div.content > div > div > a > img {
    width: 125px;
    height: 125px;
    object-fit: cover;
  }
  div.visit-according > div.visit-according-carousel > div.visit > div.col > div.seeAll > a {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 2.17;
    text-decoration: none;
    color: var(--color-button-secondary);
    text-align: center;
    cursor: pointer;
  }
  div.visit-according > div.visit-according-carousel >  div.visit > div.col > div.seeAll > a > i.fa-chevron-left {
    padding-right: 5px;
    font-weight: bold;
    font-size: 9px;
    color: #19bfd3;
  }
  